/* RIGHT SIDE */

.hero-image{
  width:50%;
  position:relative;

  display:flex;
  justify-content:center;
  align-items:center;

  min-height:700px;
}

/* GLOW DETRAS */

.hero-image::before{
  content:"";

  position:absolute;

  width:600px;
  height:600px;

  background:radial-gradient(
    circle,
    rgba(37,99,235,.35),
    transparent 70%
  );

  filter:blur(40px);

  z-index:0;
}

/* CUADRO AZUL */

.background-card{
  width:520px;
  height:520px;

  position:absolute;

  border-radius:40px;

  transform:rotate(-8deg);

  background:linear-gradient(
    145deg,
    rgba(37,99,235,.12),
    rgba(59,130,246,.03)
  );

  border:2px solid rgba(59,130,246,.6);

  box-shadow:
  0 0 30px rgba(59,130,246,.4),
  0 0 80px rgba(59,130,246,.2),
  inset 0 0 40px rgba(59,130,246,.08);

  z-index:1;
}

/* IMAGEN PRODUCTO */

.product-image{
  width:650px;

  position:relative;

  z-index:2;

  object-fit:contain;

  filter:
  drop-shadow(0 25px 40px rgba(0,0,0,.6));

  transition:.4s;
}

.product-image:hover{
  transform:
  scale(1.03)
  rotate(-2deg);
}

/* TARJETAS */

.floating-card{
  position:absolute;

  background:rgba(15,23,42,.75);

  backdrop-filter:blur(16px);

  border:1px solid rgba(255,255,255,.08);

  border-radius:22px;

  padding:22px 28px;

  z-index:5;

  box-shadow:
  0 10px 40px rgba(0,0,0,.4);
}

/* TARJETA SUPERIOR DERECHA */

.right-card{
  top:150px;
  right:10px;
}

/* TARJETA INFERIOR IZQUIERDA */

.left-card{
  bottom:130px;
  left:20px;
}

/* ESTILO TEXTO */

.floating-card h4{
  color:#4da3ff;
  margin-bottom:8px;

  font-size:18px;
}

.floating-card p{
  opacity:.75;
  font-size:15px;
}

/* FEATURES ABAJO */

.hero-features{
  position:absolute;

  bottom:20px;
  left:50%;

  transform:translateX(-50%);

  display:flex;
  gap:50px;

  z-index:6;
}

.feature{
  display:flex;
  align-items:flex-start;
  gap:15px;
}

.feature i{
  color:#2563eb;
  font-size:28px;
}

.feature h5{
  font-size:16px;
  margin-bottom:5px;
}

.feature p{
  opacity:.7;
  font-size:14px;
}