/* OFFERS */

.offers{
  padding:120px 80px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  gap:60px;
}

.offers-content{
  width:50%;
}

.offers-content span{
  color:var(--color-accent);
  font-weight:bold;
  letter-spacing:2px;
}

.offers-content h2{
  font-size:65px;
  margin:25px 0;
}

.offers-content p{
  font-size:20px;
  opacity:.7;

  margin-bottom:35px;
}

.offers-content .cta-btn{
  display:inline-block;

  padding:20px 40px;

  border:none;
  border-radius:50px;

  background:var(--color-accent);

  color:white;
  text-decoration:none;

  font-size:18px;
  font-weight:bold;

  cursor:pointer;

  transition:.3s;
}

.offers-content .cta-btn:hover{
  background:var(--color-accent-dark);
  transform:scale(1.03);
}

.offers-image{
  width:50%;
}

.offers-image img{
  width:100%;
}