<!-- CATEGORIES -->

<section class="hero" id="hero">

  <link
rel="stylesheet"
href="{{ url_for('static', filename='css/hero.css') }}"
>

  <div class="section-title">

    <span>CATEGORÍAS</span>

    <h2>Explora Tu Estilo</h2>

    <p>
      Descubre las mejores prendas urbanas para cada ocasión
    </p>

  </div>

  <div class="categories-grid">

    <!-- ITEM -->

    <div class="category-card">

      <img
        src="{{ url_for('static', filename='img/categoria1.png') }}">

      <div class="category-overlay">
        <h3>Hoodies</h3>
        <button>Ver más</button>
      </div>

    </div>

    <!-- ITEM -->

    <div class="category-card">

      <img
        src="{{ url_for('static', filename='img/categoria2.png') }}">

      <div class="category-overlay">
        <h3>Sneakers</h3>
        <button>Ver más</button>
      </div>

    </div>

    <!-- ITEM -->

    <div class="category-card">

      <img
        src="{{ url_for('static', filename='img/categoria3.png') }}">

      <div class="category-overlay">
        <h3>Accesorios</h3>
        <button>Ver más</button>
      </div>

    </div>

  </div>

</section>